# --- Python Essentials ---
__pycache__/
venv/
.venv/
env/
.vscode/
dist/
build/

# Ignoring Specific File Types
*.pyc
*.env
*.log
*.tmp
*.cache
*.mp4
*.zip
*.py[cod]

# data files
images/
labels/
IRL_Testing_Videos/
annotations/
K-Fold_Results.csv


# Extra models
*runs/
*.pt

# Legacy code
NOT_USEFUL_CODE/

