# --- Python Essentials ---
__pycache__/
venv/
.venv/
env/
.vscode/
dist/
build/

# Ignoring Specific File Types
*.pyc
*.env
*.log
*.tmp
*.cache
*.mp4
*.zip
*.py[cod]

# data files
images/
labels/
IRL_Testing_Videos/
annotations/
K-Fold_Results.csv


# models
*runs/
*.pt

# Ignore ROS2 build artifacts
build/
install/
log/

# Legacy code
NOT_USEFUL_CODE/

# Not ready for production
DRONE/
EDGE/




